<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/views/custom.ejs">Custom</a></li>
      <li><a href="/views/sedan.ejs">Sedan</a></li>
      <li><a href="/views/sport.ejs">Sport</a></li>
      <li><a href="/suv">SUV</a></li>
      <li><a href="/truck">Truck</a></li>
    </ul>
  </nav>