<body>
    <main>
        <h1>Custom Vehicles</h1>
  
  <section id="custom-vehicles">
    <div class="vehicle">
      <img src="/images/vehicles/batmobile.jpg" alt="batmobile">
      <p>Price: $25,000</p>
      <a href="#">Batmobile Custom</a>
    </div>
  
    <div class="vehicle">
      <img src="/images/vehicles/adventador.jpg" alt="">
      <p>Price: $12,000</p>
      <a href="#">Adventador Customer</a>
    </div>
  
    <div class="vehicle">
      <img src="/images/vehicles/camaro.jpg" alt="">
      <p>Price: $15,000</p>
      <a href="#">Cumaro Custom</a>
    </div>

    <div class="vehicle">
        <img src="/images/vehicles/crwn-vic.jpg" alt="">
        <p>Price: $20,000</p>
        <a href="#">crwn-vic Custom</a>
      </div>

      <div class="vehicle">
        <img src="/images/vehicles/dog-car-tn.jpg" alt="">
        <p>Price: $18,000</p>
        <a href="#">Dog Car</a>
      </div>

      <div class="vehicle">
        <img src="/images/vehicles/aerocar.jpg" alt="">
        <p>Price: $30,000</p>
        <a href="#">Aerocar</a>
      </div>
  </section>
    </main>
</body>