<h1>Welcome to CSE Motors!</h1>
<body>
    <main>
        <section id="car-section">
          <div class="car-details">
            <h1>DMC Delorean</h1>
            <p>3 Cup olders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice</p>
            <button>Own Today</button>
          </div>
          <img src="/vehicles/wrangler.jpg" alt="#">
        </section>
    
        <section id="features-section">
          <div class="left-section">
            <h2>Delorean upgrades</h2>
            <ul>
              <li>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="#">Flux Capacitor</a>
              </li>
              <li>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="#">Flame Decals</a>
              </li>
              <li>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="#">Bumper Stickers</a>
              </li>
              <li>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="#">Hub Caps</a>
              </li>
            </ul>
          </div>
          <div class="right-section">
            <h2> DMC Delorean Reviews</h2>
            <ul>
              <li>Wide selection of vehicles</li>
              <li>Competitive prices</li>
              <li>Excellent customer service</li>
              <li>Flexible financing options</li>
              <li>Extended warranty available</li>
            </ul>
          </div>
        </section>
      </main>
    
</body>