<body>    
    <h1>Sedan Vehicles</h1>
    
    <section id="sedan-vehicles">
      <div class="vehicle">
        <img src="/public/images/vehicles/crwn-vic-tn.jpg" alt="">
        <p>Price: $30,000</p>
        <a href="#">Crwn-Vic</a>
      </div>
    
      <div class="vehicle">
        <img src="/public/images/vehicles/delorean.jpg" alt="">
        <p>Price: $35,000</p>
        <a href="#">Delorean</a>
      </div>
    
      <div class="vehicle">
        <div class="vehicle">
        <img src="/public/images/vehicles/escalade.jpg" alt="">    
        <p>Price: $17,000</p>
        <a href="#">Escalade</a>
      </div>
    </section>
  </body>