<body>
    <h1>Sport Vehicles</h1>
    
    <section id="sport-vehicles">
      <div class="vehicle">
        <img src="/public/images/vehicles/adventador-tn.jpg" alt="">
        <p>Price: $50,000</p>
        <a href="#">Adventador</a>
      </div>
    
      <div class="vehicle">
        <img src="/public/images/vehicles/adventador.jpg" alt="">
        <p>Price: $55,000</p>
        <a href="#">Adventador</a>
      </div>
    
      <div class="vehicle">
        <img src="/public/images/vehicles/batmobile-tn.jpg" alt="">
        <p>Price: $30,000</p>
        <a href="#">Batmobile</a>
      </div>
    </section>
  </body>