<body>
    <h1>SUV Vehicles</h1>
    
    <section id="suv-vehicles">
      <div class="vehicle">
        <img src="/public/images/vehicles/survan-tn.jpg" alt="">
        <p>Price: $40,000</p>
        <a href="#">Survan</a>
      </div>
    
      <div class="vehicle">
        <img src="/public/images/vehicles/survan.jpg" alt="">
        <p>Price: $45,000</p>
        <a href="#">Survan1</a>
      </div>
    
      <div class="vehicle">
       <img src="/public/images/vehicles/model-t.jpg" alt="">
        <p>Price: $50,000</p>
        <a href="#">Model</a>
      </div>
    </section>
  </body>