<body>
    <h1>Trucks</h1>
    
    <section id="truck-vehicles">
      <div class="vehicle">
        <img src="/public/images/vehicles/fire-truck-tn.jpg" alt="">
        <p>Price: $30,000</p>
        <a href="#">Fire Truck</a>
      </div>
    
      <div class="vehicle">
       <img src="/public/images/vehicles/fire-truck.jpg" alt="">
        <p>Price: $35,000</p>
        <a href="#">Big fire-truck</a>
      </div>
    
      <div class="vehicle">
        <img src="/public/images/vehicles/hummer-tn.jpg" alt="">
        <p>Price: $40,000</p>
        <a href="#">Hummer-tn</a>
      </div>

      <div class="vehicle">
        <img src="/public/images/vehicles/wrangler-tn.jpg" alt="">
        <p>Price: $25,000</p>
        <a href="#">Wrangler TN</a>
      </div>
    </section>
  </body>