/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.siteName {
  font-size: 20px;
}

#tools {
  font-size: 16px;
}

/* Navigation */
nav {
  background-color: lightgray;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  flex: 1;
  text-align: center;
  padding: 10px;
}

/* Car Section */
#car-section {
  display: flex;
  flex-direction: column;
}

.car-details {
  margin-bottom: 20px;
}

.car-details h1 {
  font-size: 24px;
  color: rgb(1, 149, 149);
}

.car-details p {
  font-size: 16px;
  color: rgb(8, 120, 120);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#features-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left-section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.left-section img {
  width: 200px;
  height: auto;
}

.left-section a {
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

/* Mobile View */
@media (max-width: 767px) {
  /* Header */
  #top-header {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Features Section */
  #features-section {
    flex-direction: column;
  }
}